<form id='register' action='register' method='post' accept-charset='UTF-8'>
    <fieldset>
        <legend>Register</legend>
        <label for='username' >Username*:</label>
        <input type='text' name='username' id='username' maxlength="50" />
        <label for='password' >Password*:</label>
        <input type='password' name='password' id='password' maxlength="50" />
        <input type='submit' name='Submit' value='Submit' />
    </fieldset>
</form>
<br>
<a href='./'>Back to Home</a>